.receipt {
  height: 610px;
  width: 250px;
  background-color: whitesmoke;
  background-image: url("https://i.pinimg.com/564x/86/95/c2/8695c220f15779120e4cc9e923e22690.jpg");
  background-position: center;
  font-family: monospace;
  font-size: 12px;
  color: black;
}
.receipt-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
.receipt-topinfo {
  width: 100%;
  text-transform: uppercase;
  margin-left: 10px;
}
